@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&family=Inter:wght@100;200;400;600;700;800;900&display=swap");
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 34px;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  color: white;
  transition: 0.3s;
  font-family: "Montserrat";
}

img, svg {
  transition: 0.3s;
}

a:hover, button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.dnone {
  display: none;
}

a {
  text-decoration: none;
}

body {
  background: rgb(25, 25, 25);
  font-family: "Inter Tight";
  margin: 40px 40px;
}
body header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
body header .logo {
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 79px;
  letter-spacing: 2.8800001144px;
  text-align: left;
}
body header button {
  font-family: DM Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  background-color: rgb(17, 141, 168);
  height: 51px;
}
body .container {
  width: 90%;
  justify-content: center;
}
body .container .minicontainer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  width: 70%;
  padding: 40px 40px;
  margin: 40px auto;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body .container .minicontainer .img {
  height: 90%;
}
body .container .minicontainer .left_part {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  padding-right: 10px;
  margin-top: 150px;
}
body .container .minicontainer .title {
  font-family: DM Sans;
  font-size: 64px;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 2.5599999428px;
  text-align: left;
}
body .container .minicontainer .description {
  font-family: DM Sans;
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.7);
}
body .container .minicontainer button {
  font-family: DM Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  background-color: rgb(17, 141, 168);
  height: 51px;
  margin-top: 14px;
}
body .container .subscribe_container {
  background: black;
  width: 90%;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
}
body .container .subscribe_container .subscribe_left {
  width: 50%;
}
body .container .subscribe_container .subscribe_left .Emails {
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(17, 141, 168);
  margin-left: 50px;
  margin-top: 30px;
}
body .container .subscribe_container .subscribe_left .text {
  font-family: DM Sans;
  font-size: 72px;
  font-weight: 400;
  line-height: 79px;
  letter-spacing: 2.8800001144px;
  text-align: left;
  margin-left: 50px;
}
body .container .subscribe_container .subscribe_right {
  width: 40%;
}
body .container .subscribe_container .subscribe_right form {
  height: 82px;
  background-color: rgb(25, 25, 25);
  border-radius: 10px;
  margin-top: 20px;
  width: 100%;
}
body .container .subscribe_container .subscribe_right button {
  font-family: DM Sans;
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  background-color: rgb(17, 141, 168);
  height: 51px;
  margin-top: 14px;
  width: 87px;
}/*# sourceMappingURL=style.css.map */